/*.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.image-wrapper {
    flex: 0 1 23%; /* Adjust width as needed /
    margin-bottom: 20px; /* Adjust margin between images 
}

.image-wrapper img {
    width: 100%;
    height: auto;
    border-radius: 8px; /* Optional: Add rounded corners 
}*/
.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.image-wrapper {
    flex-basis: calc(33.33% - 20px); /* Adjust width as needed */
    margin-bottom: 20px; /* Adjust margin between images */
    box-sizing: border-box; /* Include padding and borders in the width calculation */
}

.image-wrapper img {
    width: 100%;
    height: auto;
    border-radius: 8px; /* Optional: Add rounded corners */
}

.image-info {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 0 0 8px 8px; /* Optional: Add rounded corners */
    box-sizing: border-box; /* Include padding and borders in the width calculation */
}

.image-info h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.image-info p {
    margin: 0;
}
